.bigcontainer {
  height: 100vh;
  width: 100%;
}

.form_camera {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  height: 90vh;
  overflow: scroll;
  padding-bottom: 10vh;
}

.form_container_picture {
  width: auto;
  min-height: 400px;
  background-color: rgb(220, 220, 220);
  border-radius: 0px 0px 40px 40px;
}

.form_file_upload {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 170px;
}

.start_camera {
  all: unset;
}

.form_custom_file_label {
  display: inline-block;
  border: 1px #ff743e solid;
  color: #ff743e;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  transition: background-color 0.3s ease;
}

.picture_camera {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0px 0px 40px 40px;
}

.picture_upload {
  all: unset;
}

label {
  font-size: 0.7rem;
  color: #aeaeae;
  font-weight: 700;
  position: relative;
  top: 0.4rem;
  margin: 0 0 0 7px;
  padding: 0 3px;
  background: #ffffff;
  width: fit-content;
}

.form_camera > input,
.form_camera > textarea,
.form_camera > select {
  padding: 11px 10px;
  border: 1px #aeaeae solid;
  border-radius: 4px;
  color: #666666;
  font-weight: bolder;
}

.form_camera > textarea {
  margin-bottom: 2rem;
  min-height: 150px;
}

.dialog_camera > dialog {
  all: unset;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80vw;
  height: 70vh;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  border: 1px solid black;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.take_a_picture {
  all: unset;
  cursor: pointer;
  position: relative;
  justify-content: center;
  margin-top: 1rem;
}

.take_a_picture:hover {
  opacity: 70%;
}

.take_a_picture > img {
  width: 7rem;
}

.picture_Captured {
  width: auto;
  min-height: 410px;
  border-radius: 0px 0px 40px 40px;
  position: fixed;
  max-width: 100%;
  object-fit: cover;
}

.container_picture_captured {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  z-index: 1000;
}
