.connection {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
.connection_form {
  height: 100%;
  width: 100%;
  padding: 1rem;
  background-image: url("../assets/images/backgroundOnboarding.svg");
  background-size: cover;
  background-position: center;
}

.connectHeader {
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.connectHeader img {
  margin-left: -1rem;
}
.connection h2 {
  font-family: var(--title-font);
  font-size: 32px;
  margin-top: -2rem;
  text-align: center;
}
.headConnexion {
  background: -webkit-linear-gradient(-90deg, #ff0d5a, #ff743e);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.connectContainerLink {
  height: 45%;
  width: 100%;
  display: flex;
  margin-top: 2rem;
  flex-direction: column;
  justify-content: center;
}
.connectContainerLink > input {
  height: 14%;
  width: 100%;
  padding-left: 1rem;
  border: 1px #aeaeae solid;
  border-radius: 12px;
  font-weight: bolder;
  margin-bottom: 1rem;
}

.connectGradientBtn {
  height: 14%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin-bottom: 0.2rem;
}
.connectGradientBtn > #gradientButton {
  padding: 0;
  height: 100%;
}
.connection_separator {
  border: none;
  border-top: 1px double #333;
  color: #333;
  overflow: visible;
  text-align: center;
  height: 5px;
  margin-top: 1rem;
}

.connection_separator::after {
  background: #fff;
  content: "ou";
  padding: 0 4px;
  position: relative;
  border-radius: 50%;
  top: -12px;
}

.connection_without {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 14%;
  width: 100%;
  margin-top: 1rem;
  border-radius: 12px;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  font-weight: 700;
  border: 1px solid;
  border-color: #ff743e;
  background-color: white;
  margin-bottom: 1rem;
}

.InscriptionLink {
  text-decoration: underline;
}
.link_register {
  font-family: var(--main-font);
  text-align: center;
  margin-bottom: 1rem;
}

@media (width >= 480px) {
  .connection {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../assets/images/backgroundOnboarding.svg");
    background-size: cover;
    background-position: center;
  }
  .connection_form {
    height: 80%;
    width: 30%;
    background: rgba(255, 255, 255, 0.2);
    padding: 1.5rem;
    border: 2px solid var(--grey);
    border-radius: 24px;
    box-shadow: 0 0 8px 4px var(--grey);
    backdrop-filter: blur(2px);
    justify-content: space-between;
  }
  .connectHeader {
    justify-content: flex-start;
  }
  .connectHeader > img {
    margin: auto;
    height: 100%;
    margin-top: -1.5rem;
  }
  .connection h2 {
    font-size: 180%;
    padding: 1rem;
    text-align: center;
    margin-top: -3rem;
  }
  .connectContainerLink {
    height: 45%;
  }
  .connectContainerLink > input {
    height: 14%;
  }
  .connectGradientBtn {
    height: 14%;
    object-fit: cover;
  }
  .headConnexion {
    font-size: 100%;
  }
  .connection_without {
    padding: 0;
    height: 14%;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }
  .link_register,
  .InscriptionLink {
    font-size: 12px;
    font-weight: 100;
    margin-top: 1rem;
    margin-bottom: 0;
  }
}
