.gallery {
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.header-gallery {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  padding-top: 1rem;
}

.header-gallery h1 {
  font-family: var(--title-font);
  font-size: 2rem;
  font-weight: bold;
  background: -webkit-linear-gradient(
    110deg,
    #ff743e 0%,
    #ff374f 60%,
    #ff0d5a 100%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
  transform: translateX(100%);
  transition: transform 0.5s ease-out opacity 0.5s ease-out;
}

.body-gallery {
  height: 100%;
  overflow: scroll;
  padding-bottom: 10px;
  height: 100%;
  overflow: scroll;
  padding: 1rem 1rem 1rem 1rem;
}

.my-masonry-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  padding-bottom: 30rem;
}
.my-masonry-grid_column {
  padding-left: 8px;
  background-clip: padding-box;
}

.my-masonry-grid_column > div {
  overflow: hidden;
  margin-bottom: 8px;
}
.body-gallery a {
  display: flex;
  justify-content: center;
}
.body-gallery img {
  object-fit: contain;
  width: 100%;
}

.nothing {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  margin: auto;
  width: 85%;
}
.nothing img {
  width: auto;
}
.nothing p {
  margin-top: -4rem;
  font-family: var(--main-font);
  font-weight: bold;
  text-align: center;
}
.galleryNavbar {
  padding-top: 1rem;
}
.header-gallery > div {
  height: 5rem;
  width: 100%;
  padding-inline: 1rem;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  overflow-x: scroll;
  scrollbar-width: none;
}
.chip {
  height: 3rem;
  max-height: 3.5rem;
  min-width: 5.4rem;
  max-width: 6rem;
  background-color: #222222;
  border-radius: 12px;
  padding-inline: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  font-family: var(--title-font);
  color: #fff;
  font-size: 15px;
}
.chip:hover {
  scale: 1.1;
}
.chipActive {
  background: var(--primary-gradient);
  scale: 1.1;
  font-size: 16px;
  box-shadow: none;
}
.header-gallery > div > select {
  border: 1px solid var(--primary-color);
  font-family: var(--main-font);
  border-radius: 24px;
  height: 1.5rem;
  padding-inline: 0.5rem;
  margin-top: 1rem;
}
.show {
  animation: containerSlide 0.5s forwards;
}

@keyframes containerSlide {
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@media (width >= 480px) {
  .header-gallery {
    margin-top: 5.5rem;
    justify-content: flex-start;
  }
  .header-gallery > div {
    height: 9rem;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    overflow-y: scroll;
  }
  .chip {
    height: 3rem;
    width: 8.5rem;
  }
  .header-gallery > h1 {
    display: none;
  }
  .header-gallery > div {
    background: none;
    margin: 0 0 1.5rem 1.5rem;
  }
  .header-gallery > div > select {
    border: 1px solid var(--primary-color);
    font-family: var(--main-font);
    border-radius: 24px;
    height: 1.5rem;
    padding-inline: 0.5rem;
  }
}
