.gestion {
  padding-top: 1rem;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}
.gestionHeader {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.gestionContainer {
  height: 32px;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.gestionContainer > .gestion:not(:first-child) {
  padding-left: -8px;
}

.headers {
  all: unset;
  height: 100%;
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  color: var(--grey);
  border-bottom: 1px solid var(--grey);
}
.headers > p {
  font-family: var(--main-font);
}

.active {
  color: var(--primary-color);
  border-bottom: 1px solid var(--primary-color);
  margin-bottom: -1px;
}
.gestionBody {
  height: 100%;
  padding: 1rem;
  height: 80%;
  overflow: scroll;
  padding-bottom: 600px;
  margin-top: 0.9rem;
}
.gestionBody > section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.validation {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid gray;
}
.validation > div:last-child {
  height: 100%;
}

.imageValidate {
  max-height: 30vh;
  border-radius: 24px 24px 24px 24px;
}
.informationValidate {
  height: 35vh;
  padding-left: 1rem;
  padding-bottom: 1rem;
  font-family: var(--main-font);
  line-height: 1.2rem;
  object-fit: contain;
}
.informationValidate > ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.informationValidate li {
  list-style-type: none;
  padding-bottom: 1rem;
  font-weight: 400;
}
.imageUser {
  max-height: 30vh;
  text-align: center;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 48px;
  object-fit: contain;
}
.avatarUser {
  width: 100%;
}

.userList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid var(--grey);
  padding-top: 5rem;
}
.informationUser {
  height: 35vh;
  padding-left: 1rem;
  padding-bottom: 1rem;
  font-family: var(--main-font);
  line-height: 1.2rem;
  object-fit: contain;
}
.informationUser > ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.userList a {
  width: 70%;
}
.userList .informationUser li {
  list-style-type: none;
}
.checkArtworkBtn {
  display: flex;
  flex-grow: 1;
  align-items: center;
}
@media (width >= 480px) {
  .gestionHeader {
    height: 16%;
  }
  .gestion > h1 {
    display: none;
  }
  .validation {
    height: 35vh;
    width: 65%;
    max-width: 1440px;
    display: flex;
    flex-direction: row;
    background-color: rgba(214, 214, 214, 0.109);
    border: 1px solid var(--primary-color);
    padding: 1rem;
    border-radius: 48px;
  }
  .userList {
    height: 35vh;
    width: 65%;
    display: flex;
    flex-direction: row;
    padding-top: 1rem;
    background-color: rgba(214, 214, 214, 0.109);
    border: 1px solid var(--primary-color);
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 48px;
  }
  .gestionHeader {
    justify-content: space-between;
  }
  .gestionContainer {
    margin-top: 6rem;
  }
  .headers {
    padding-bottom: 0.3rem;
  }
  .headers > p {
    font-family: var(--title-font);
    font-size: 24px;
  }
  .checkArtworkBtn {
    justify-content: center;
  }
  .checkArtworkBtn > a {
    margin-left: 25%;
  }
}
