.navBar {
  height: 11%;
  width: 100%;
  padding: 0 0.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  bottom: 0;
  z-index: 3;
  background-color: #fff;
}

.nav_description {
  color: #c5c5c5;
  font-size: 14px;
}

.nav_picto_large {
  background-color: white;
  border-radius: 50%;
  border: 1px solid #fff;
  height: 98px;
  width: 98px;
  cursor: pointer;
  position: relative;
  bottom: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav_picto_large > a {
  width: 82px;
  height: 82px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav_picto_large > a > .lottie {
  border-radius: 50%;
  background: var(--primary-gradient);
  padding-top: 1rem;
}
.nav_picto {
  height: 100%;
  width: 34px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.nav_picto > a > img {
  height: 34px;
  width: 34px;
  margin-bottom: 4px;
}

.navBar > .nav_picto > a {
  width: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}

/* NAVBAR DESKTOP */

.navDesktopContainer {
  height: 3rem;
  width: 100%;
  border-bottom: 1px solid var(--grey);
  margin: 2rem auto;
  padding-inline: 1rem;
  display: flex;
  position: absolute;
  justify-content: space-around;
  align-items: flex-end;
}
.logoNavDesktop {
  width: 15rem;
  margin-bottom: -0.4rem;
  opacity: 0.9;
}
.navDesktopNavigation {
  width: 55%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.linkNavDesktop {
  width: 11%;
  text-decoration: none;
  color: var(--grey);
  padding-bottom: 0.4rem;
  margin-bottom: -0.1rem;
}
.linkNavDesktop > p {
  font-family: var(--title-font);
  font-size: 24px;
  text-align: center;
}
.linkNavActive {
  color: var(--primary-color);
  border-bottom: 1.5px solid var(--primary-color);
}
