.navBar {
  height: 12%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 1rem 0.5rem;
  position: absolute;
  bottom: 0;
  z-index: 3;
  background-color: #fff;
}

.nav_description {
  color: #c5c5c5;
}

.nav_picto_large {
  background-color: white;
  border-radius: 50%;
  border: 1px solid #fff;
  cursor: pointer;
  position: relative;
  bottom: 40px;
}

.nav_picto {
  cursor: pointer;
}

.navBar > .nav_picto > a {
  text-decoration: none;
}
