.profilePage {
  font-family: var(--main-font);
  height: 100vh;
  overflow: hidden;
}

.profileContainer {
  height: 35%;
  background: var(--primary-gradient);
  border-radius: 0px 0px 40px 40px;
  color: #ffffff;
  display: flex;
  justify-content: center;
}

#grid-item {
  color: #fff;
  background: none;
  -webkit-text-fill-color: #fff;
  position: absolute;
  left: 0;
}

.profilSection {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1.5rem;
  gap: 0.2rem;
}

.profilAvatar {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  border: 3px solid white;
}

.profileContainer h2 {
  font-family: var(--title-font);
}

.profilEmail {
  font-weight: lighter;
}

.profilClassement {
  height: 20%;
  width: 65%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 8%;
  background-color: #ffffff;
  border-radius: 40px;
  padding-inline: 0.5rem;
  color: var(--primary-gradient);
  color: #ff0d5a;
  font-size: 14px;
  text-decoration: none;
  cursor: pointer;
}

.profilClassement div {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ff0d5a;
}
.profilClassement > div:first-child {
  gap: 0.5rem;
}
.profilClassement > div:last-child {
  background-color: #ffe4ec;
  border-radius: 40px;
}
.adminBtn {
  position: absolute;
  top: 2rem;
  right: 1rem;
  padding: 0.9rem;
  border-radius: 50%;
  border: 2px solid #fff;
  background: none;
  color: #fff;
  font-family: var(--title-font);
  font-weight: bold;
  font-size: 1.3rem;
}

.profilFormcontainer {
  height: 65vh;
  width: 100%;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--grey);
}

.profileField {
  height: 10%;
  width: 100%;
  padding: 0 2rem 0.1rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 0.6rem;
  border-bottom: 1px solid var(--grey);
}
.profileField label {
  font-size: 10px;
}

.profileField .edit {
  font-size: 14px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
}

.btn {
  background-color: white;
  border: none;
}

.profilFormcontainer #gradientButton {
  margin-top: 1.5rem;
  width: 70%;
}

.avatarEdit {
  position: absolute;
  height: 40px;
  width: 40px;
  left: 5.5rem;
  margin-top: -1rem;
}
.deleteProfil {
  padding-top: 2rem;
}
