.register {
  background-image: url("../assets/images/backgroundOnboarding.svg");
  background-size: "cover";
  background-position: "center";
  height: "100vh";
  width: "100%";
  padding-inline: 1rem;
}
.registerLogo {
  width: 100%;
}
.registerTitle {
  font-family: var(--title-font);
  font-size: 32px;
  padding: 1rem;
  text-align: center;
  margin-top: -4rem;
}
.register_form {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  overflow: scroll;
}

.register_form > input {
  padding: 1rem;
  border: 1px #aeaeae solid;
  border-radius: 12px;
  font-weight: bolder;
  margin-bottom: 0.5rem;
}

.register #gradientButton {
  margin: 1rem 0 1rem 0;
}

.InscriptionLink {
  text-decoration: underline;
  color: inherit;
}
.linkRegister {
  text-align: center;
}
