#gradientButton {
  all: unset;
  display: inline-block;
  padding: 1rem;
  border-radius: 12px;
  background: linear-gradient(-90deg, #ff0d5a, #ff743e);
  cursor: pointer;
}

#textButton {
  text-align: center;
  font-weight: 700;
  color: #fff;
  margin: 0;
}

.leaflet-popup-content p {
  margin: 0;
}
